@using PoliHack18.Themes
@inherits LayoutComponentBase
@inject NavMenuHide ok
<div class="page">
    @if (ok.IsUserLoggedIn)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }
    <main>


        <article class="content px-4">
            @Body
        </article>
    </main>


</div>

@code {
    MudTheme _appTheme = AppTheme.Default;
    protected override void OnInitialized()
    {
        ok.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ok.OnChange -= StateHasChanged;
    }

}

<MudThemeProvider Theme="@_appTheme" IsDarkMode="true"/>
<MudPopoverProvider/>

<MudDialogProvider/>

<MudSnackbarProvider/>